
if articles
  each article in articles
    div(class="card article-element my-3")
      div(class="card-body")
        p= "Nom : " + article.Nom
        p= "Prenom : " + article.Prenom
        p= "Catégorie : " + article.Categorie
        p= "Sujet : " + article.Sujet
        p= "Contenu : " + article.Content
        p= "Date : " + article.createdAt.toLocaleString()
        button(class="btn btn-danger mt-2 float-end" articleId=article._id) x
